In [2]:
import pandas as pd

In [4]:
fnames = [
    #"raw/origin_destination_bus_202408.csv",
    "raw/transport_node_bus_202407.csv",
    "raw/transport_node_bus_202408.csv",
    "raw/transport_node_bus_202409.csv",
]

# Bus data

In [5]:
# Load all bus node files and concatenate them into a single dataframe
bus_node_df = pd.concat([pd.read_csv(fname) for fname in fnames], ignore_index=True)
print(bus_node_df.shape)
bus_node_df.head()

(598518, 7)

,YEAR_MONTH,DAY_TYPE,TIME_PER_HOUR,PT_TYPE,PT_CODE,TOTAL_TAP_IN_VOLUME,TOTAL_TAP_OUT_VOLUME
0,2024-07,WEEKDAY,19.0,BUS,46359,279,138
1,2024-07,WEEKDAY,6.0,BUS,64551,570,26
2,2024-07,WEEKDAY,9.0,BUS,92099,2009,866
3,2024-07,WEEKDAY,6.0,BUS,12201,51,1405
4,2024-07,WEEKDAY,17.0,BUS,77101,94,110

In [3]:
bus_origin_dest_df = pd.read_csv(fnames[0])
print(bus_origin_dest_df.shape)
bus_origin_dest_df.head()

(5760081, 7)

,YEAR_MONTH,DAY_TYPE,TIME_PER_HOUR,PT_TYPE,ORIGIN_PT_CODE,DESTINATION_PT_CODE,TOTAL_TRIPS
0,2024-08,WEEKENDS/HOLIDAY,18,BUS,76201,76079,6
1,2024-08,WEEKENDS/HOLIDAY,7,BUS,10351,13201,7
2,2024-08,WEEKENDS/HOLIDAY,19,BUS,76061,75371,1
3,2024-08,WEEKENDS/HOLIDAY,9,BUS,14271,7021,2
4,2024-08,WEEKDAY,5,BUS,54581,66471,1

In [6]:
bus_node_df.to_csv('cleaned/BusRideVolume_2024_070809.csv', index=False)
# bus_origin_dest_df.to_csv('cleaned/BusRideVolumeOrigDest202408.csv', index=False)